src/doc/tags.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tag-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="beth" type="xs:string" nillable="true" minOccurs="1"/>
              <xs:element name="gems" type="xs:string" nillable="true" minOccurs="1"/>
              <xs:element name="steam" type="xs:string" nillable="true" minOccurs="1"/>
              <xs:element name="nexus" nillable="true" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="type"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:int" name="id" use="required"/>
            <xs:attribute type="xs:string" name="name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
